{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
  <link href="{% static 'css/products.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">Каталог</h1>
        {% include 'includes/filters_form.html' %}
      </div>

      <div class="col-lg-9">
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="/static/img/slides/slide-1.jpg" alt="First slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/static/img/slides/slide-2.jpg" alt="Second slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/static/img/slides/slide-3.jpg" alt="Third slide" />
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">
          {% include 'includes/products_list.html' %}
        </div>
        {% if is_paginated %}
          {% block pagination %}
            {% include 'includes/pagination.html' %}
          {% endblock %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/products.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('.btn-add-to-favorites').on('click', function (e) {
        e.preventDefault()
        var button = $(this)
        var product_id = $(this).data('product-id')
        var csrfToken = '{{ csrf_token }}'
        $.ajax({
          url: '{% url "products:wishlist_manage" %}',
          method: 'POST',
          data: {
            product_id: product_id,
            csrfmiddlewaretoken: csrfToken
          },
          success: function (data) {
            if (data.status === 'not_authenticated') {
            window.location.href = data.redirect_url;
            } else if (data.status === 'success') {
              $('#wishlist-count').text(data.wishlist_items_count)
              button.prop('disabled', true)
              button.text('В избранном')
            } else if (data.status === 'already_in_favorites') {
              alert('Товар уже в избранном!')
            }
          },
          error: function () {
            alert('Произошла ошибка.')
          }
        })
      })
    })
  </script>

  <script>
    $(document).ready(function () {
      $('.btn-add-to-cart').on('click', function (e) {
        e.preventDefault()
        var button = $(this)
        var product_id = $(this).data('product-id')
        var csrfToken = '{{ csrf_token }}'
    
        $.ajax({
          url: '{% url "products:cart_manage" %}',
          method: 'POST',
          data: {
            product_id: product_id,
            csrfmiddlewaretoken: csrfToken
          },
          success: function (data) {
            if (data.status === 'not_authenticated') {
            window.location.href = data.redirect_url;
            } else if (data.status === 'success') {
              var currentCount = parseInt($('#cart-count').text(), 10)
              var newCount = currentCount + 1
              $('#cart-count').text(newCount)
    
              button.prop('disabled', true)
              button.text('В корзине')
            }
          },
          error: function () {
            alert('Произошла ошибка при добавлении в корзину.')
          }
        })
      })
    })
  </script>
{% endblock %}
