{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
  <link href="{% static 'css/orders.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <section>
    <div class="container pt-5">
      <div class="text-center mt-5">
        <h1>Заказ №{{ order.id }} от {{order.created|date:"d.m.Y"}} г.</h1>
        <div class="orders mt-5">
          <table class="table table-dark table-bordered mb-0">
            <thead>
              <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Цена</th>
                <th scope="col">Сумма</th>
              </tr>
            </thead>
            <tbody>
              {% for purchased_item in order.cart_history.purchased_items %}
                <tr>

                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ purchased_item.product_title }}</td>
                  <td>{{ purchased_item.quantity }}</td>
                  <td>{{ purchased_item.price|intcomma }} руб.</td>
                  <td>{{ purchased_item.get_item_cost|intcomma }} руб.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <p class="float-right h4 mt-3">Итого {{ order.cart_history.total_cost|intcomma }} руб.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
