.gradient-custom {
    /* fallback for old browsers */
    background: #afafaf;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(158, 158, 158), rgb(227, 227, 227));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(169, 169, 169), rgbrgb(246, 246, 246));
}