{% load humanize %}
{% load my_filters %}

{% for product in products %}
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{ product.image.url }}" alt="" /></a>
      <div class="card-body">
        <h4 class="card-title"><a href="{% url 'products:detail' product.id %}">{{ product.title }}</a></h4>
        <h5>{{ product.price|intcomma }} руб.</h5>
        <p class="card-text">{{ product.description }}</p>
        <div class="d-flex flex-row my-3">
          <div class="text-warning mb-1 me-2">
            {% for _ in product.average_rating|range %}
              <i class="fa fa-star"></i>
            {% endfor %}
            {% for _ in product.average_rating|range:5 %}
              <i class="far fa-star"></i>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-outline-success" href="{% url 'products:cart_add' product.id %}">Добавить в корзину</a>
      </div>
    </div>
  </div>
{% endfor %}
